   
    <nav class="navbar navbar-light">
    <a class="navbar-brand" href="/index.html">NICHOLAS BROWN</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/biography.html">BIOGRAPHY<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index.html">BLOG</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              PORTFOLIO
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/portfolio/undulatory.html">The Undulatory Theory of Light (2018)</a>
              <a class="dropdown-item" href="/portfolio/vanishing.html">Vanishing Points (2017)</a>
              <a class="dropdown-item" href="/portfolio/chit-chat.html">Chit-chat (2017)</a>
              <a class="dropdown-item" href="/portfolio/consonance.html">On the Production of True Consonance (2016)</a>
              <a class="dropdown-item" href="/portfolio/generation.html">On the Generation of Sounds (2015)</a>
              <a class="dropdown-item" href="/portfolio/in-arcady.html">In Arcady (2015)</a>
              <a class="dropdown-item" href="/portfolio/birdsong-to-light.html">From Birdsong to Light (2013)</a>
              <a class="dropdown-item" href="/portfolio/memoyre.html">As I Have Now Memoyre (2008)</a>
              <a class="dropdown-item" href="/portfolio/soul.html">The Soul Finds Rest in Unity (2007)</a>
              <a class="dropdown-item" href="/portfolio/bravery.html">The Bravery of Women (2007)</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            WRITING
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/writing/works.html">On My Works</a>
            <a class="dropdown-item" href="/writing/articles.html">Articles & Essays</a>
            <a class="dropdown-item" href="/writing/talks.html">Talks & Lectures</a>
          </div>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="/catalogue.html">CATALOGUE</a>
          </li>
        
      </ul>
    </div>
  </nav>