<div class="side-menu">
  <!-- A vertical navbar -->
  <nav class="side-navbar">
    <!-- Links -->
    <ul class="side-navbar-list">
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/audience.html">An Audience with the Trees</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/memoyre.html">As I Have Now Memoyre</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/fiveactions.html">Five Actions for a Violinist</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/birdsong.html">From Birdsong to Light</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/division.html">On the Division of a String</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/operations.html">On the Operations of the Sun</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/consonance.html">On the Production of True Consonance</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/silence.html">Silence is Golden</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/songssky.html">Songs from the Sky</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/starfish.html">Starfish</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/bravery.html">The Bravery of Women</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/soul.html">The Soul Finds Rest in Unity</a>
      </li>
      <li class="side-navbar-item">
        <a class="side-navbar-link" href="/writing-works/vivaldi.html">Vivaldi's Menagerie</a>
      </li>
    </ul>
  </nav>
</div>
